<footer class="page-footer font-small bg-faded pt-4 fonte" style="background-color: #653B17;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Redes Sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="s-network">
                    <li>
                        <a href="https://www.linkedin.com/in/falecomruthferreira/" target="_blank" class="icoLinkedinn">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ruthfs" target="_blank" class="icoGithub">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-faded text-center py-3 fonte" style="background-color:#664527;">
        <span class="text-light"> &copy; 2021 Ruth Ferreira </span>
    </div>

</footer>
